page-about {
    .about {
        .version-icon {
            width: initial;
            margin: 0 auto;
        }
        h2 {
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
}