/*@import "../pages/blog/detail/detail";
@import "../pages/blog/add-comment/add-comment";
@import "../pages/blog/add-blog/add-blog";
@import "../pages/blog/preview-blog/preview-blog";
@import "../shared/components/image-slides/image-slides";*/
page-blog-index {
    .blog-index {
        ion-avatar {
            img {
                width: 3.6rem;
                height: 3.6rem;
                max-width: 3.6rem;
                max-height: 3.6rem;
                margin: 0 auto;
            }
        }
        ion-list > .item:first-child,
        ion-list > .item-wrapper:first-child .item {
            border-top: 0px;
        }
        .title {
            white-space: pre-wrap;
            font-weight: normal;
        }
        .status {
            text-align: center;
            width: 7rem;
            margin: 0px;
            .new {
                color: white;
                padding: 4px;
                border-radius: 2px;
                background-color: red;
                margin-bottom: 4px;
            }
            .new-reply {
                @extend .new;
                background-color: rgb(255,140,0);
            }
        }
    }
    .ios {
        .blog-index {
            .status{
                p {
                    font-size: 1.1rem;
                }
            }
        }
    }
    .md {
        .blog-index {
            .avatar{
                img {
                    width: 6.5rem;
                    height: 6.5rem;
                }
            }
        }
        .blog-index {
            .status{
                width: 6.5rem;
                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
}
